* {
    margin: 0pc;
    padding: 0px;
    font-family: 'poppins', sans-serif;
    font-weight: 500;
}

body {
    background-color: #ffdd00;
}

.flutuante {
    height: 10%;
    width: 90%;
    display: grid;
    grid-template-columns: 10vh auto;

    /* text-align: center; */

    position: fixed;
    left: 50%;
    top: 90%;
    transform: translate(-50%, -50%);
    gap: 1vw;
    user-select: none;
}

.valor,
.lixo {
    border-radius: 4vh;
    text-align: center;
    height: 100%;
}

.valor {
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 10px 10px 1px rgba(0, 0, 0, 0.082);
    display: flex;
    justify-content: space-evenly;
}

.lixo {
    background-color: white;
    backdrop-filter: blur(10px);
    /* box-shadow: 0px 15px 30px 6px rgb(255, 0, 0); */
    transition: all .2s;

    text-align: center;

}

.lixo:hover {
    background-color: rgb(255, 0, 0);
    box-shadow: 0px 0px 6px 3px #f33a21;
    box-shadow: 0px 0px 17px #f34b21;
    scale: 1.05;
}

.lixo:active {
    scale: .9;
}

.icon {
    width: 6vh;
    fill: rgb(255, 0, 0);
    position: relative;
    top: 50%;
    transform: translate(0%, -50%);

    transition: all .2s;
}

.lixo:hover .icon {
    fill: rgb(255, 255, 255);
}

.texto {
    /* background-color: beige; */
    position: relative;
}

.preço {
    /* background-color: beige; */
    position: relative;
}

.texto p,
.preço p {
    display: inline-block;
    position: relative;
    top: 50%;

    transform: translate(0%, -50%);


}

.preço p {
    padding: 2vh;
    border-radius: 3vh;
    border: solid .1vh rgba(0, 0, 0, 0.438);
    background-color: rgba(255, 255, 255, 0.863);
    font-size: 3vh;
}

.texto p {
    font-size: 3vh;
    user-select: none;
}

.lista {
    /* margin-top: .5%; */
    width: 95%;
    /* height: 700px; */
    position: relative;
    left: 50%;
    transform: translate(-50%, 0%);
    /* background-color: bisque; */

    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    gap: 1vh;
}

.produto {
    width: 95;
    height: 15vh;
    padding: 2vh;
    border-radius: 5vh;
    background-color: rgb(255, 91, 91);
    box-shadow: 0px 10px 10px 1px rgba(0, 0, 0, 0.082);

    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 2vh;
}

.produtoVazio {
    width: 100%;
    height: 20vh;
    /* border-radius: 45px; */
    background-color: rgba(255, 255, 255, 0);
    /* box-shadow: 0px 10px 10px 1px rgba(0, 0, 0, 0.082); */

}

.produto img:first-child {
    height: 10vh;
}

.nomeProduto,
.Unidades {
    font-size: 2vh;
    width: 5vh;
    /* flex-grow: 1; */
}

.nomeProduto p {
    font-size: 1.5vh;
    text-align: center;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0%);
}

.nomeProduto {
    flex-grow: 1;
}

.Unidades p {
    text-align: center;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0%);
}

button {
    /* scale: .5; */
    width: 3vh;
    height: 3vh;
    position: relative;
    left: 0%;
    top: 0%;
    transform: translate(0%, 0%);
    border: solid transparent;
    border-radius: 3vh;
    border-width: 0 0 .5vh;

    color: #FFFFFF;
    cursor: pointer;
    margin: 0;
    outline: none;
    overflow: visible;
    padding: 2.2vh;
    touch-action: manipulation;
    user-select: none;
    -webkit-user-select: none;
    white-space: nowrap;
    vertical-align: middle;
    text-align: center;
    transition: filter .2s;
}

.mais {
    background-color: #13303b;
}

.mais:after {
    background-color: #34688b;
}

.menos {
    background-color: #3b1313;
}

.menos:after {
    background-color: #8b3434;
}

button:after {
    background-clip: padding-box;
    border: solid transparent;
    border-radius: 3vh;
    border-width: 0 0 .5vh;
    bottom: -.3vh;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
}

button:main,
button:focus {
    user-select: auto;
}

button:hover:not(:disabled) {
    filter: brightness(1.5);
}


button:active:after {
    border-width: 0 0 0vh;
}

button:active {
    padding-bottom: 2.4vh;
}